<h1>Message Details</h1>

<div class="card">
  <div class="card-body">
    <p class="card-text">
      <strong>From User:</strong>
      <%= link_to @message.user.email, user_path(@message.user) %>
    </p>
    <p class="card-text">
      <strong>In Chat:</strong>
      <%= link_to "Chat ##{@message.chat_id} (between #{@message.chat.sender.email} and #{@message.chat.receiver.email})", chat_path(@message.chat) %>
    </p>
    <p class="card-text">
      <strong>Body:</strong>
    </p>
    <blockquote class="blockquote">
      <p><%= @message.body %></p>
    </blockquote>
    <p class="card-text">
      <small class="text-muted">Sent At: <%= @message.created_at.strftime("%B %d, %Y %H:%M") %></small>
    </p>
  </div>
</div>

<hr>

<% if can? :update, @message %>
  <%= link_to 'Edit this message', edit_message_path(@message), class: 'btn btn-primary btn-sm' %> |
<% end %>

<% if can? :destroy, @message %>
  <%= link_to 'Delete this message', message_path(@message), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %> |
<% end %>

<%= link_to 'Back to messages', messages_path, class: 'btn btn-light btn-sm' %>
